.button-audio{
    position: absolute;
    right: 3vh;
    top: 3vh;
    color: #ffff;
    background-color: #031795bd;
    padding: 2vh;
    font-size: 3vh;
    /* border: solid 1px #fff; */
    /* width: 4vh; */
    z-index: 3;
}
.button-audio1{
  position: absolute;
  right: 12vh;
  top: 3vh;
  color: #ffff;
  background-color: #031795bd;
  padding: 2vh;
  font-size: 3vh;
  /* border: solid 1px #fff; */
  /* width: 4vh; */
  z-index: 3;
}
.button-audio:hover{
    color:rgb(183, 217, 232);
    cursor: pointer;
}
.button-audio1:hover{
  color:rgb(183, 217, 232);
  cursor: pointer;
}
.popup {
    float: left;
    width: 340px;
    background: rgba(63,63,63,0.72);
    padding: 10px;
    /* border-radius: 6px; */
    color: #222;
    position: relative;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    right: 15vh;
    top: 3vh;
    color: #ffff;
    font-size: 2.25vh;
    font-family: 'Roboto Condensed',sans-serif;
    padding: 2vh;
    border: 1px solid #ffff;
}
.popup:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid rgb(255 255 255 / 72%);
    position: absolute;
    top: 16px;
    right: -12px;
}
.contenedor-invisible{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgb(255 255 255 / 0%);
    z-index: 1;
}










* {
	box-sizing: border-box;
}

body {
	background-color: white;
    font-family: 'Roboto', sans-serif;
}


h1, .row {
    text-align: center;
}

.row figure {
    height: 240px;
    width: 240px;
    margin:0;
    background-size: cover;
	background-position: 50% 50%;
    box-shadow:0 0 15px rgba(0, 0, 0, 0.7);
    transition: all 1s ease-in-out;
    background-repeat:no-repeat;
    z-index:2;
    display:inline-block;
    position:relative;

}

.row a {
    display: inline-block;
    text-align: center;
    margin:40px;
    text-decoration:none;
    color:white;
}

.row a p {
    position:absolute;
    opacity: 0;
    font-size: 20px;
    top:45%;
    z-index:100;
    left: 0;
    right: 0;
    margin: auto;
}

figure:hover p {
    opacity:1;
}

figure:after {
    content:"";
    display:inline-block;
    height:100%;
    width:100%;
    background-color:#DA291C;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity:0;
    transition: all 0.4s ease-in-out 0s;
    z-index:99;
}

figure:hover:after {
    opacity:0.7;
}

.photo01 {
	background-image: url("https://images.unsplash.com/photo-1518360192974-cb111fe33162?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=176a2e53640da93f024168ee870e4ab2");
}

.photo02 {
	background-image: url("https://images.unsplash.com/photo-1524593216312-e3ea9ac26f97?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=40ea56ea3a1751a2c61ce161705e4dc0");
}

.photo03 {
	background-image: url("https://images.unsplash.com/photo-1511044231743-fa5f76110c08?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=39af28e4d30f32989009e6f18fa8aac7");
}


/* lightbox */

.lightbox-target {
  position: absolute;
  /* top: -100%; */
  width: 100%;
  background: rgb(78 74 74 / 63%);
  width: 100%;
  /* opacity: 0; */
  /* -webkit-transition: opacity .5s ease-in-out; */
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  /* overflow: hidden; */
  z-index:300;
  height: 100vh;
  width: 100vw;
}

.lightbox-target .container {
  margin: auto;
  position: absolute;
  top: 50vh;
  left: 50vw;
  /* background-color: white; */
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); */
  /* -webkit-transition: .5s ease-in-out; */
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  /* transition: .5s ease-in-out; */
  text-align:center;
  transform: translate3d(-50%, -50%, 0);
}

h3 {
    text-align: center;
}

.container .elements {
    display:inline-block;
    width: 40%;
    max-height: 425px;

}

ul {
    list-style-image: url('https://insider.ivanti.com/resources/statics/13067/Ivanti_rgb.png?a=1527884897521');
    overflow: hidden;
    overflow-y:auto;
    max-height: 369px;
    margin:0;
}

li {
    margin-bottom: 10px;
}

a.lightbox-close {
    display: block;
    height: 7vh;
    width: 7vh;
    /* background: #ebebeb; */
    color: #e7e7e7;
    text-decoration: none;
    position: absolute;
    top: 0vh;
    right: -8vh;
    margin: 0;
    /* padding: 2vh; */
    font-weight: 800;
    font-size: 5vh;
    border-radius: 4vh;
    transition: all ease 0.2s;
    text-align: center;
}
a.lightbox-close:hover {
    color:rgb(10,180,255);
    cursor: pointer;
}

.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightbox-target:target img {
    height: 400px;
    vertical-align: top;
}

.img-riesgo{
      /* width: 55vw; */
      max-height: 55vh;
      opacity: 0.8;
      margin-bottom: 13px;
      /* width: 50vw; */
}




.button-iniciar{
    position: absolute;
    right: 5vh;
    bottom: 5vh;
    color: #ffff;
    background: #3f51b5;
    padding: 2vh;
    font-size: 1.75vh;
    /* border: solid 1px #fff; */
    /* width: 4vh; */
    z-index: 3;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transition: all ease 0.5s;
    letter-spacing: 0.25vh;
    /* border: 2px solid white; */
    text-transform: uppercase;
    transition: all ease 0.5s;
}
.button-iniciar:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: #4e4d4d6e;
    
}









/* carousel */



.carousel-slide {
  text-align: center;
}

.carousel-slide img {
  max-width: 150vh;
  max-height: 80vh; 
  width: auto;
  height: auto;
}

.carousel-control {
  position: absolute;
  top: 61%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3px 10px;
  border-radius: 5px;
}

.prev {
  left: -10vh;
}

.next {
  right: -10vh;
}


/* modal */

.textoGuia{
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: left;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  }



.GuiaInstructorContainer{
  background-color: #c1bcbcf2; 
  width: 33.33%; 
  max-width: 91.67%; 
  margin-left: auto; 
  margin-right: auto; 
  border-radius: 0.5rem; 
  margin-top: 13vh;
  z-index: 50; 
  overflow-y: auto;
  width:49vw;
}
.GuiaInstructorContainerMovil{
  background-color: #fffffff2; 
  width: 33.33%; 
  max-width: 91.67%; 
  margin-left: auto; 
  margin-right: auto; 
  border-radius: 0.5rem; 
  margin-top: 11vh;
  z-index: 50; 
  overflow-y: auto;
  width:49vw;
}
.subGuiaInstructorContainer{
  padding-top: 1rem; 
  padding-bottom: 1rem; 
  text-align: left; 
  padding-left: 1rem;
  padding-right: 1rem;
}

.textoGuiaInstruccionesContainer{
  margin-top: 3px;
  margin-left: 2px;
  margin-bottom: 0;
  font-size: 2.45rem;
  font-weight: bold;
  color: #2d3a82;
}
.contenedortextoGuiaInstruccionesContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2px;
}
 @media (max-width: 1368px) {
  .GuiaInstructorContainer{
    margin-left: 52vh;
  }
} 
@media (max-width: 920px) {
  #equiposDeProteccionContainer {

    background-color: lightblue; /* Ejemplo: cambia el fondo a un color claro */
    width: 54vw; /* Ejemplo: ajusta el ancho del contenedor */
    margin-top: 3vh;
    margin-bottom: 4vh;
  }

  .modal-container {
    /* Estilos específicos para dispositivos móviles aquí */
    width: 80vw; /* Ejemplo: ajusta el ancho del contenedor modal */
  }

  .navigation{
    margin-top: -9vw;
  }

  .textoGuia{
    padding-top: 1rem;
      }

.subGuiaInstructorContainer{
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.textoGuiaInstruccionesContainer{
  font-size: 1rem;
  margin-bottom: 0px;
}
.contenedortextoGuiaInstruccionesContainer{
  padding-bottom: 0.1rem;
}

  /* Puedes continuar añadiendo estilos específicos para dispositivos móviles según sea necesario */
}
@media (max-width: 916px) {
  .navigation{
    margin-top: -1vw;
  }
}
@media (max-width: 896px) {
  .navigation{
    margin-top: -1vw;
  }
}
@media (max-width: 670px) {
  .subGuiaInstructorContainer{
    padding-top: 0rem;
  }
  .navigation{
    margin-top: -7vw;
  }
}
@media (max-width: 668px) {
  .GuiaInstructorContainer{
    width: 68vw;
  }
  .navigation{
    margin-top: -1vw;
  }
}

/* informacion */
.modal a {
  color: inherit;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(0 0 0 / 68%);
  z-index: 2;
}
.modal-container {
  /* height: 80vh; */
  max-width: 55vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  /* border-radius: 16px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width: 600px) {
  .modal-container {
      width: 90%;
 }
}

.blue-rectangle {
  background-color: #031795; /* Color de fondo azul */
  height: 4vh; /* Altura del rectángulo */
  width: 100%; /* Ancho completo */
}
#intrucciones-container {
  z-index: 9999; /* Un valor alto, puedes ajustarlo según tus necesidades */
}
